@charset "utf-8";
/* CSS Document */


#cabeceraweb {
	background-color:#D81F22
		
}


#navegacionprincipal {
	background-color: #2367AD
}

#barralateral{
	background-color: #12B16F;
	float:left;
	height:955px
}

#contenidoprincipal{
	background-color:#B510C5;
	margin-left:250px;	
}

#pieprincipal{
	background-color: #4B5A3E
}

li {
	background-color: #EF4043;
	display:inline;	
}





























